# PocketRock native compatibility theme
wps: /.rockbox/wps/pocketrock.wps
sbs: /.rockbox/wps/pocketrock.sbs
backdrop: -
filetype colours: -
foreground color: 18202A
background color: F5F6F8
line selector start color: 2378D4
line selector end color: 2378D4
line selector text color: 18202A
list separator color: D5D9DF
selector type: bar (color)
font: /.rockbox/fonts/15-Adobe-Helvetica.fnt
statusbar: off
iconset: -
viewers iconset: -
show icons: off
scrollbar: off
ui viewport: -
